.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.signOutButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.loadingContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 2.4rem;
  margin-bottom: 2.2rem;
}
