.page {
  background-color: var(--white);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);

  * {
    margin-bottom: 5px;
  }
}

.titleStye {
  font-size: 2.8rem;
}

.subTitle {
  font-size: 1rem;
  margin-top: -0.8rem;
}

.switchPrompt {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
}

.bottomMargin {
  margin-bottom: 3rem;
}

.errorStyle {
  color: red;
  font-size: 1.4rem;
}
