# FRONTEND ##############################

# dependencies
frontend/node_modules/

# BACKEND ##############################

# dependencies
backend/node_modules/

# testing
backend/coverage

# production
backend/build

# misc
backend/.DS_Store
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
