.dotFlashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--primary);
  animation: dotFlashing 1s infinite linear alternate;
}

.dotFlashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--primary);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0.5s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--primary);
  }
  50%,
  100% {
    background-color: white;
  }
}
