.container {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 3px;
  padding: 5px;
}

label {
  font-size: 1.5rem;
}

.isValid {
  border: 1px solid green;
}

.isInvalid {
  border: 1px solid red;
}
