.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 2.4rem;
  margin-bottom: 2.2rem;
}

.listContainer {
  width: 32vw;
}
